<p class="Titulo">Contactanos</p>
<div class="contenedor-texto">
    <div class="Contenedor info">
        <p class="Subtitulo">Integrante 1</p>
        <p class="Texto">
            Numeros de telefono: 55-1234-5678
        </p>
        <p class="Texto">
            Correo Electronico: Nombre&#64;correo.com
        </p>
    </div>
    <div class="Contenedor info">
        <p class="Subtitulo">Integrante 1</p>
        <p class="Texto">
            Numeros de telefono: 55-1234-5678
        </p>
        <p class="Texto">
            Correo Electronico: Nombre&#64;correo.com
        </p>
    </div>
    <div class="Contenedor info">
        <p class="Subtitulo">Integrante 1</p>
        <p class="Texto">
            Numeros de telefono: 55-1234-5678
        </p>
        <p class="Texto">
            Correo Electronico: Nombre&#64;correo.com
        </p>
    </div>
    
</div>