.Titulo{
    text-align: center;
    color:var(--color-Principal);
    font-size: 40px;
    }
    .Subtitulo{
        text-align: left;
        color:var(--color-Principal);
        font-size: 30px;
    
    }
    .Texto{
        text-align: justify;
        font-size: 20px;
        color:var(--color-secundario);
    }
    .contenedor-texto{
        margin:10%;
        margin-right:10%;
        margin-top: 5%px;
        margin-bottom: 5%;    
    }
