<p class="Titulo">Acerca de nosotros<p>
<div class="contenedor-texto">
    <p class="Texto">
        RadioActiva est pagina interretialis quae proposita habet artem musicam ad omnes homines sine exceptione perducere. Musica, ut lingua universalis, pontem inter culturas diversas format. Non interest unde venias, quid colas, vel quam linguam loquaris – hic, omnia genera musicae aperta sunt tibi.
        Intentio nostra est unitatem creare per sonum, abiciendo discrimina socialia, culturales et linguistica. RadioActiva auditorium invitat ut novos ritmos, voces et traditiones audiant, ex omnibus angulis orbis terrarum. Per hoc, fideliter credimus nos creare posse societatem magis apertam, inclusivam et harmonicam.
        Pagina nostra plurimas radios digitales, playlists selectas et suggestiones personalizadas praebet, ut omnis auditor novum aliquid detegere possit, sive amat jazz sive reggaeton sive canticum ethnicum antiquum. Hic locus est ubi musica non habet fines.
    </p>
    
    <p class="Subtitulo">Subtitulus</p>
    <p class="Texto">
        Culturae non dividunt; musica coniungit. In RadioActiva, non solum audis – communicare, sentire et cognoscere potes. Voces populi, sonitus antiquae sapientiae et nova experimenta audiuntur in uno loco, libero ac semper aperto.
        Missionem nostram sustinet communitas globalis: auditores, creatores, musici et amantes artis quae non includitur in chartis commercialibus. Quisque hic locum invenit, sive pro recreatione, studio sive inspiratione spirituali. 
        Promovemus etiam novas voces et musicae independentes, dantes spatium iis qui alibi neglecti sunt. Cum mundo in dies magis connecto, veritas simplex manet: musica est libertas.
        RadioActiva – ubi omnis vox valet, et omnis anima resonat.
    </p>
    <p class="Texto">
        RadioActiva est pagina interretialis quae proposita habet artem musicam ad omnes homines sine exceptione perducere. Musica, ut lingua universalis, pontem inter culturas diversas format. Non interest unde venias, quid colas, vel quam linguam loquaris – hic, omnia genera musicae aperta sunt tibi.
        Intentio nostra est unitatem creare per sonum, abiciendo discrimina socialia, culturales et linguistica. RadioActiva auditorium invitat ut novos ritmos, voces et traditiones audiant, ex omnibus angulis orbis terrarum. Per hoc, fideliter credimus nos creare posse societatem magis apertam, inclusivam et harmonicam.
        Pagina nostra plurimas radios digitales, playlists selectas et suggestiones personalizadas praebet, ut omnis auditor novum aliquid detegere possit, sive amat jazz sive reggaeton sive canticum ethnicum antiquum. Hic locus est ubi musica non habet fines.
    </p>
    
    <p class="Subtitulo">Subtitulus</p>
    <p class="Texto">
        Culturae non dividunt; musica coniungit. In RadioActiva, non solum audis – communicare, sentire et cognoscere potes. Voces populi, sonitus antiquae sapientiae et nova experimenta audiuntur in uno loco, libero ac semper aperto.
        Missionem nostram sustinet communitas globalis: auditores, creatores, musici et amantes artis quae non includitur in chartis commercialibus. Quisque hic locum invenit, sive pro recreatione, studio sive inspiratione spirituali. 
        Promovemus etiam novas voces et musicae independentes, dantes spatium iis qui alibi neglecti sunt. Cum mundo in dies magis connecto, veritas simplex manet: musica est libertas.
        RadioActiva – ubi omnis vox valet, et omnis anima resonat.
    </p>
    
</div>