<header>
    <div class="CabeceraPadre">
        <div class="CabeceraIzquierda">
            <a routerLink="/">
                <img src="Logo.png" alt="Radioactivo" width="50" height="50">
              </a>
              <a routerLink="/"><p class="Titulo">{{titulo}}</p></a>
        </div>

        <div class="CabeceraCentro">
            <div class="search-bar">
                <input type="text" placeholder="Buscar...">
                <i class="fas fa-search search-icon"></i>
            </div>
        </div>

        <div class="CabeceraDerecha">
            <a class="auth-button" routerLink="/login">Iniciar sesión</a>
            <a class="auth-button" routerLink="/sign-in">Registrarse</a>
            
        </div>
    </div>
</header>