.Carrucel-container {
  display: flex;
  flex-direction: column;
  max-width: 75vw;
  overflow: hidden;
}

.TituloCarrusel {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Nuevo contenedor solo para flechas + carrusel */
.Carrucel-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.Carrucel {
  display: flex;
  gap: 16px;
  padding: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  max-width: 100%;
  scrollbar-width: none;
  flex: 1; /* Ocupa todo el espacio entre las flechas */
}

.Carrucel::-webkit-scrollbar {
  display: none;
}

.arrow {
  background-color: var(--color-fondo);
  border: none;
  color: var(--color-texto);
  font-size: 24px;
  cursor: pointer;
  padding: 8px 12px;
  user-select: none;
  border-radius: 4px;
  margin: 0 5px;
}

.arrow:disabled {
  opacity: 0.5;
  cursor: default;
}
