:root {
    --color-principal: #FFBF00;
    --color-fondo: #121212;
    --color-texto: #FFFFFF;
    --color-secundario: #C2B280;
  }
  body {
    background: var(--color-fondo);
    color: var(--color-principal);
  }
