* {
    box-sizing: border-box;
  }
  
  form {
    padding: 0.5rem;
  }
  
:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: Arial, sans-serif;
  }
  
  .form-container {
    background-color: var(--color-fondo);
    padding: 2rem;
    border: solid 1px var(--color-texto);
    border-radius: 8px;
    width: 100%;
    max-width: 800px;
  }
  
  form h2 {
    margin-bottom: 1.5rem;
    color: var(--color-principal);
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid var(--color-texto);
    border-radius: 4px;
  }
  input:focus{
    box-shadow: 0px 0px 20px var(--color-principal);    
  }

  button {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--color-principal);
    color: var(--color-texto);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: var(--color-fondo); /* versión más oscura de color-principal */
    border: solid 2px var(--color-principal);
    box-shadow: 5px 5px 20px var(--color-principal);
    
  }
  